$navbar-height:             52px;
$navbar-height-extended:    72px;

html, body {
  background: #eee;
  font-size: 14px;
}

.is-clipped {
  overflow-y: scroll !important;
}

.has-text-centered {
  text-align: center;
}

.login-page {
  background: url(../img/login-bg.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  height: $navbar-height;

  .navbar-burger {
    height: $navbar-height;
  }
}

@media (min-width: 1088px) {
  .navbar {
    height: $navbar-height-extended;

    .navbar-brand {
      display: none;
    }

    .navbar-menu {
      margin: 0 20px;
    }
  }
}

.sidebar {
  background: #34444b;
  
  position: fixed;
  top: 0;

  height: 100vh;
  width: 300px;

  z-index: 40;

  @media (max-width: 1087px) {
    display: none;
  }

  .navbar-brand {
    background: #3f515a;
    height: $navbar-height-extended;
  }

  .search {
    .field {
      padding: 10px;
    }

    .input {
      background: transparent;
      box-shadow: none;
      border: none;

      padding-left: 2.67em;

      color: #fff;

      &::placeholder {
        color: #3f515a;
      }

      &:focus ~ .icon {
        color: #fff;
      }
    }
  }

  .navbar-menu {
    flex-direction: column;
  }

  .navbar-item {
    color: #9cb1ba;

    padding: 15px 20px;

    .icon {
      margin-right: 10px;
    }

    &:hover {
      background-color: #2a363c;
      color: #fff;
    }

    &.is-active,
    &.is-active:not(:hover) {
      background-color: #263136;
      color: #fff;
    }
  }
}

.ui-container {
  margin-top: $navbar-height;

  .router-view {
    padding: 1rem;
  }

  @media (min-width: 1088px) {
    margin-top: $navbar-height-extended;

    .router-view {
      margin-left: 300px;
    }
  }
}

.modal .modal-content {
  background: #fff;
  border-radius: 3px;
}

.modal-box {
  background: #fff;

  .modal-header {
    padding: 1rem;
    background: #eee;
    font-size: 1.2rem;
    border-bottom: 1px solid #eee;
  }

  .modal-body {
    padding: 1rem;
    overflow-x: hidden;
  }
}

.table td {
  vertical-align: middle;
}

.table .is-fit {
  width: 0px;
}

/*
 * Animations
 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
