$navbar-height:             52px;
$navbar-height-extended:    72px;
$primary:                   #4289a5;

html, body {
  background: #eee;
  font-size: 14px;
}

a {
  color: $primary;
}

.pagination-link.is-current {
  background-color: $primary;
  border-color: $primary;
}

.is-clipped {
  overflow-y: scroll !important;
}

.has-text-centered {
  text-align: center;
}

.has-contents-below {
  margin-bottom: 1em;
}

.notification.top-notification {
  border-radius: 0;
  margin-bottom: 0;
}

.main-container {
  padding: 1.5rem;
}

.media.is-vcentered {
  align-items: center;
}

.zk-table {
  font-size: 14px !important;
}

.login-page {
  background: url(../img/login-bg.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  height: $navbar-height;

  .navbar-burger {
    height: $navbar-height;
  }
}

@media (min-width: 1088px) {
  .navbar {
    height: $navbar-height-extended;

    .navbar-brand {
      display: none;
    }

    .navbar-menu {
      margin: 0 20px;
    }

    .navbar-start {
      display: none;
    }
  }
}

.sidebar {
  background: #34444b;
  
  position: fixed;
  top: 0;

  height: 100vh;
  width: 300px;

  z-index: 40;

  @media (max-width: 1087px) {
    display: none;
  }

  .navbar-brand {
    background: #3f515a;
    height: $navbar-height-extended;
  }

  .search {
    .field {
      padding: 10px;
    }

    .input {
      background: transparent;
      box-shadow: none;
      border: none;

      padding-left: 2.67em;

      color: #fff;

      &::placeholder {
        color: #3f515a;
      }

      &:focus ~ .icon {
        color: #fff;
      }
    }
  }

  .navbar-menu {
    flex-direction: column;

    height: calc(100vh - 124px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: #546c78;
      outline: 1px solid #546c78;
    }
  }

  .navbar-item {
    color: #9cb1ba;

    padding: 15px 20px;

    .icon {
      margin-right: 10px;
    }

    &:hover {
      background-color: #2a363c;
      color: #fff;
    }

    &.is-active,
    &.is-active:not(:hover) {
      background-color: #263136;
      color: #fff;
    }
  }
}

.navbar-item .media img {
  max-height: initial;
}

.router-view {
  margin-top: $navbar-height;

  .ui-container:not(.is-fullwidth) {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  @media (min-width: 1088px) {
    margin-top: $navbar-height-extended;
    margin-left: 300px;
  }
}

.image.avatar {
  border-radius: 100%;
  overflow: hidden;
}

.panel {
  .panel-heading {
    background: #333;
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem;
    color: #eee;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .panel-block {
    background: #fff;

    & > form {
      width: 100%;
    }
  }
}

.modal .modal-content {
  background: #fff;
  border-radius: 3px;
}

.modal-box {
  background: #fff;

  .modal-header {
    padding: 1rem;
    background: #eee;
    font-size: 1.2rem;
    border-bottom: 1px solid #eee;
  }

  .modal-body {
    padding: 1rem;
    overflow-x: hidden;
  }
}

.table td {
  vertical-align: middle;
}

.table .is-fit {
  width: 1%;
}

/*
 * Animations
 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
